.empty-cart {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.empty-box {
  text-align: center;
  max-width: 450px;
}


.empty-cart-icon {
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 50%;
  background: var(--surface-alt);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-high);
}


.empty-box h2 {
  margin-top: 25px;
  font-size: 32px;
  color: var(--text-high);
}


.empty-box p {
  color: var(--text-secondary);
  line-height: 1.7;
  font-size: 16px;
}


.empty-box button {
  margin-top: 25px;
  padding: 14px 35px;

  border: none;
  border-radius: 30px;

  background: var(--accent-dark);
  color: var(--white);

  font-size: 16px;
  cursor: pointer;

  transition: .3s;
}


.empty-box button:hover {
  background: #e63946;
  transform: translateY(-3px);
}